html, body {
    height: 100%
}
* {
    box-sizing: border-box;
}
.landing{
    background: url("images/landing-back.jpg")
}

#homepage {
    display: flex;
    text-align: center;

}
.elegantshadow {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic;
    font-size: 72px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: white;
    /* background-color: #e7e5e4; */
    letter-spacing: .15em;
    text-shadow: 
     5px 3px 3px gray;

    
}


.about {
    
    margin-top: 20px;
    color: black;
    font-size: 24px;
    border-bottom: 2px solid red;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}
.portfolio-image{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    padding: 10px;
}

.project {
    width: 20%;
 
}

.hidden{
    display: none;
}

.container:hover .visible {
    display: none;
}

.container:hover .hidden {
    display: block;
}

.btn {
    background-color: gray;
    color: black; 
}

.footer {
    color: white;  
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* text-decoration: none; */
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-contact {
    padding-right: 20px;
}

@media (min-width: 0px) and (max-width: 349px) {
    .portfolio-image {
        display: none;
    }
    .elegantshadow {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 300px) and (max-width: 768px) {
    .portfolio-image {
        height: 75px;
        width: 75px;
       
    }
    .elegantshadow {
        font-size: 36px;
        display: flex;
        justify-content: center;
        
    }
}
@media (min-width:769px) and (max-width: 992px) {
    .portfolio-image {
        height: 150px;
        width: 150px;
        border-radius: 20%;
    }
    .elegantshadow {
        font-size: 48px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 993px) and (max-width: 2900px) {
    .portfolio-image {
        height: 200px;
        width: 200px;
        border-radius: 20%;
    }
    .elegantshadow {
        display: flex;
        justify-content: center;
    }
}