html, body {
    height: 100%
}


#enterButton:hover {
    font-size: 120%;
    
}


* {
    box-sizing: border-box;
}
.landing{
    background: url("images/landing-back.jpg")
}

#homepage {
    display: flex;
    text-align: center;

}
.elegantshadow {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic;
    font-size: 72px;
    padding: 80px 50px 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: white;
    /* background-color: #e7e5e4; */
    letter-spacing: .15em;
    text-shadow: 
     5px 3px 3px gray;
}

svg {
    width: 100%;
    height: auto;
}

path {
    stroke: #fff;
    fill: none;
    stroke-width: 1.46500003;
    stroke-linecap: round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1
  
}
#path3861 {
    stroke-dasharray: 30;
    animation: write1 6s forwards linear;
}
#path3859 {
    stroke-dasharray: 60;
    animation: write2 6s forwards linear;
}

#path3863 {
    stroke-dasharray: 43;
    animation: write3 6s forwards linear;
}
#path3865 {
    stroke-dasharray: 83;
    animation: write4 6s forwards linear;
}
#path3867 {
    stroke-dasharray: 32;
    animation: write5 6s forwards linear;
}
#path3871 {
    stroke-dasharray: 38;
    animation: write6 6s forwards linear;
}
#path3873 {
    stroke-dasharray: 128;
    animation: write7 6s forwards linear;
}
#path3875 {
    stroke-dasharray: 32;
    animation: write8 6s forwards linear;
}
#path3877 {
    stroke-dasharray: 45;
    animation: write9 6s forwards linear;
}
#path3879 {
    stroke-dasharray: 35;
    animation: write10 6s forwards linear;
}
#path3881 {
    stroke-dasharray: 34;
    animation: write11 6s forwards linear;
}
#path3883 {
    stroke-dasharray: 47;
    animation: write12 6s forwards linear;
}
#path3885 {
    stroke-dasharray: 9;
    animation: write13 5s forwards linear;
}

@keyframes write1 {
    0% {
        stroke-dashoffset: 30;
    }
    7% {
        stroke-dashoffset: 0;
    }
}

@keyframes write2 {
    0%, 7% {
        stroke-dashoffset: 60;
    }
    14% {
        stroke-dashoffset: 0;
    }
}
@keyframes write3 {
    0%, 14% {
        stroke-dashoffset: 43;
    }
    21% {
        stroke-dashoffset: 0;
    }
}
@keyframes write4 {
    0%, 21% {
        stroke-dashoffset: 83;
    }
    28% {
        stroke-dashoffset: 0;
    }
}
@keyframes write5 {
    0%, 28% {
        stroke-dashoffset: 32;
    }
    35% {
        stroke-dashoffset: 0;
    }
}
@keyframes write6 {
    0%,35% {
        stroke-dashoffset: 38;
    }
    42% {
        stroke-dashoffset: 0;
    }
}
@keyframes write7 {
    0%, 42% {
        stroke-dashoffset: 128;
    }
    49% {
        stroke-dashoffset: 0;
    }
}
@keyframes write8 {
    0%, 49% {
        stroke-dashoffset: 32;
    }
    56% {
        stroke-dashoffset: 0;
    }
}
@keyframes write9 {
    0%, 56% {
        stroke-dashoffset: 45;
    }
    63% {
        stroke-dashoffset: 0;
    }
}
@keyframes write10 {
    0%, 63% {
        stroke-dashoffset: 35;
    }
    70% {
        stroke-dashoffset: 0;
    }
}
@keyframes write11 {
    0%, 70% {
        stroke-dashoffset: 34;
    }
    77% {
        stroke-dashoffset: 0;
    }
}
@keyframes write12 {
    0%, 77% {
        stroke-dashoffset: 47;
    }
    83% {
        stroke-dashoffset: 0;
    }
}
@keyframes write13 {
    0%, 90% {
        stroke-dashoffset: 9;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.about {
    
    margin-top: 20px;
    color: black;
    font-size: 24px;
    border-bottom: 2px solid red;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}
.portfolio-image{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    padding: 10px;
}

.project {
    width: 20%;
 
}

.flip-card{
    background-color: transparent;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back{
    transform: rotateY(180deg);
    z-index: 1;
}

.row-2{
    height: 484px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}



.btn {
    background-color: gray;
    color: black; 
}

.footer {
    color: white;  
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* text-decoration: none; */
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-contact {
    padding-right: 20px;
}

@media (min-width: 0px) and (max-width: 349px) {
    .portfolio-image {
        display: none;
    }
    .elegantshadow {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 300px) and (max-width: 768px) {
    .portfolio-image {
        height: 75px;
        width: 75px;
       
    }
    .elegantshadow {
        font-size: 36px;
        display: flex;
        justify-content: center;
        
    }
}
@media (min-width:769px) and (max-width: 992px) {
    .portfolio-image {
        height: 150px;
        width: 150px;
        border-radius: 20%;
    }
    .elegantshadow {
        font-size: 48px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 993px) and (max-width: 2900px) {
    .portfolio-image {
        height: 200px;
        width: 200px;
        border-radius: 20%;
    }
    .elegantshadow {
        display: flex;
        justify-content: center;
    }
}