html, body {
    height: 100%
}
* {
    box-sizing: border-box;
}

.content {
    background-color: white;
    padding-bottom: 70px;
    margin-top: 20px;
    min-height: calc(80vh - 50px);
    margin-bottom: 50px;
}
.navbar-default {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid gray;
    height: 100px; 
}
.nav-link {
    color: #777777;
}
h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 0;
}

.indexbody {
    background-color: white;
    }
h2 {
    position: relative;
    left: 40px;
}

.about {
    margin-top: 20px;
    color: #4aaaa5;
    font-size: 24px;
    border-bottom: 2px solid gray;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.firstRow {
    margin-top: 10px;
    margin-bottom: 20px;
}

.thirdRow {
    margin-top: 20px;
}

.img-fluid {
    position: relative;
    width: 100%;
}

#beach {
    background-color: #4aaaa5;
    /* color: #ffffff; */
    width: 100%;
    text-align: center;
    /* text-decoration: none; */
}
#city {
    background-color: #4aaaa5;
    /* color: #ffffff; */
    width: 100%;
    text-align: center;
    /* text-decoration: none; */
    
}

#flower {
    background-color: #4aaaa5;
    /* color: #ffffff; */
    width: 100%;
    text-align: center;
    /* text-decoration: none; */
}
#sunset {
    background-color: #4aaaa5;
    /* color: #ffffff; */
    width: 100%;
    text-align: center;
    /* text-decoration: none; */
}
#trees {
    background-color: #4aaaa5;
    /* color: #ffffff; */
    width: 100%;
    text-align: center;
    /* text-decoration: none; */
}
a {
    color: #ffffff;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.footer {
    width: 100%;
    margin: 0 auto;
    clear: both;  
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  
}